body {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    background-color: #f3f3f3;
    font-size: small;
  }

input{
    font-family: 'Roboto', sans-serif;
}
.container {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: aliceblue;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#homeImage {
    display: block;
    margin: 0 auto; /* Center horizontally */
    max-width: 30%; /* Ensure image doesn't exceed container width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px;
}

#popupImage {
    display: block;
    margin: 0 auto; /* Center horizontally */
    max-width: 5%; /* Ensure image doesn't exceed container width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px;
}

button {
    margin: 5px;
    outline: none;
    
}

button:hover {
    outline: #80deea dotted thin;
}

.container {
    width: 300px;
}

input[type="text"], input[type="number"], textarea {
    width: 70%;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input[type="text"],
.input-group textarea,
.input-group select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;

}

.two-col {
    overflow: hidden;/* Makes this div contain its floats */
}

.two-col .col1,
.two-col .col2 {
    width: 45%;
    padding: 5px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.two-col .col1 {
    float: left;
    font-family: 'Roboto', sans-serif;
}

.two-col .col2 {
    float: right;
    font-family: 'Roboto', sans-serif;
}

.two-col label {
    display: block;
}

.rolling-selector select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('arrow-down.png'); /* Add an arrow-down image */
    background-repeat: no-repeat;
    background-position: right 8px center;
    padding-right: 30px; /* Adjust as needed */
}

.button-group {
    text-align: center;
}

.button-group button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-group button + button {
    margin-left: 10px;
}

.button-group button:hover {
    background-color: #0056b3;
}


#start {
    background-color: #007bff; /* Bootstrap primary color */
}

#start:hover {
    background-color: #0056b3; /* Darker shade of primary color */
}

#cancel {
    background-color: #ff3333; /* Custom color */
}

#cancel:hover {
    background-color: #cc0000; /* Darker shade of custom color */
}

.greyed-out {
    background-color: #ccc !important; /* Grey background color */
    color: #666 !important; /* Darker grey text color */
    cursor: not-allowed !important; /* Change cursor to indicate the button is disabled */
}
/* Add your disabled button styles here */
#start[disabled] {
    background-color: #bdc3c7; /* Change the color for disabled state */
    cursor: not-allowed;
}

#cancel1 {
    background-color: #ff3333; /* Custom color */
}

#cancel1:hover {
    background-color: #cc0000; /* Darker shade of custom color */
}

#cancel2 {
    background-color: #ff3333; /* Custom color */
}

#cancel2:hover {
    background-color: #cc0000; /* Darker shade of custom color */
}

#cancel3 {
    background-color: #ff3333; /* Custom color */
}

#cancel3:hover {
    background-color: #cc0000; /* Darker shade of custom color */
}




/* Styles for the emotion icons */
.emotion-icons {
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    gap: 50px;
}

.emotion-icon {
    width: 70px;
    height: auto;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.emotion-icon:hover {
    transform: scale(1.1);
}

.button-group {
    margin-top: 10px;
    text-align: center;
}

#go-to-journal {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#go-to-journal:hover {
    background-color: #0056b3;
}

#emotion-mask-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#emotion-mask {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chatbot-mask {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  #chatbot-heading {
    background-color: darkblue;
    color: #fff;
    padding: 15px 0;
    text-align: center;
  }
  
  #chatbot-heading h1 {
    margin: 0;
    font-size: 20px;
  }
  
  #chatbot-content {
    padding: 20px;
  }
  
  iframe {
    border: none;
    width: 100%;
    height: 350px;
  }
  
  #exit-button {
    text-align: center;
    margin-top: 20px;
  }
  
  #delete-button {
    background-color: red;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #delete-button:hover {
    background-color:darkred;
  }
  